<a href="https://colab.research.google.com/github/Teptyar/C/blob/master/%D0%9A%D0%BE%D0%BF%D0%B8%D1%8F_%D0%B1%D0%BB%D0%BE%D0%BA%D0%BD%D0%BE%D1%82%D0%B0_%22excel_task%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# https://openpyxl.readthedocs.io/en/stable/
# https://www.geeksforgeeks.org/python-reading-excel-file-using-openpyxl-module/

In [ ]:
import openpyxl

In [ ]:
path = "data.xlsx"
wb_obj = openpyxl.load_workbook(path)
sheet_obj = wb_obj.active

In [ ]:
sheet_obj

In [ ]:
for i in range(1, 5):
    cell_obj = sheet_obj.cell(row = 1, column = i)
    print(cell_obj.value)

Дата
№сф
Поставщик
Сумма

In [ ]:
sheet_obj.cell(row = 50, column = 50).value is None

True

In [ ]:
invoice_num = 0
row_num = 2

while invoice_num is not None:
    invoice_date = sheet_obj.cell(row = row_num, column = 1).value
    invoice_num = sheet_obj.cell(row = row_num, column = 2).value
    provider = sheet_obj.cell(row = row_num, column = 3).value
    invoice_sum = sheet_obj.cell(row = row_num, column = 4).value

    print(invoice_date, invoice_num, provider, invoice_sum)

    row_num += 1

NameError: name 'sheet_obj' is not defined

In [ ]:
class A:
  e = None
  u = 4
  def f(self):
    print("lalala")
    return 8

In [ ]:
a = A()
print(a.u)

4

In [ ]:
t = a.f()

lalala

In [ ]:
print(t)

8

In [ ]:
invoice_num = 0
row_num = 2

invoices = []

while invoice_num is not None:
    invoice_date = sheet_obj.cell(row = row_num, column = 1).value
    invoice_num = sheet_obj.cell(row = row_num, column = 2).value
    provider = sheet_obj.cell(row = row_num, column = 3).value
    invoice_sum = sheet_obj.cell(row = row_num, column = 4).value

    invoices.append([invoice_date, invoice_num, provider, invoice_sum])

    row_num += 1

invoices

[[datetime.datetime(2021, 5, 25, 0, 0), 1256523, 'ООО"ТМК"', 12563321.35],
 [datetime.datetime(2021, 5, 26, 0, 0),
  '12.255.52',
  'ООО"Цветмет"',
  12568542.36],
 [datetime.datetime(2021, 5, 27, 0, 0),
  '456852/5',
  'ООО"Чермет"',
  56848372548.2],
 [datetime.datetime(2021, 5, 28, 0, 0),
  '4545641д',
  'АО"Спецстрой"',
  342561957.34],
 [datetime.datetime(2021, 5, 29, 0, 0),
  89547369,
  'ООО"Прокатмонтаж"',
  4365521.5],
 [datetime.datetime(2021, 5, 25, 0, 0), 1256523, 'ООО"ТМК"', 12563321.35],
 [None, None, None, None]]

In [ ]:
[1, 2, 3] == [1, 2, 3]

True

In [ ]:
dublicates = []
n = len(invoices)
for i in range(0, n):
  for j in range(i + 1, n):
    if invoices[i] == invoices[j]:
      dublicates.append(j)


dublicates

[5]

In [ ]:
invoices_new = []
for i in range(0, n - 1):
  if i not in dublicates:
    invoices_new.append(invoices[i])

invoices_new

[[datetime.datetime(2021, 5, 25, 0, 0), 1256523, 'ООО"ТМК"', 12563321.35],
 [datetime.datetime(2021, 5, 26, 0, 0),
  '12.255.52',
  'ООО"Цветмет"',
  12568542.36],
 [datetime.datetime(2021, 5, 27, 0, 0),
  '456852/5',
  'ООО"Чермет"',
  56848372548.2],
 [datetime.datetime(2021, 5, 28, 0, 0),
  '4545641д',
  'АО"Спецстрой"',
  342561957.34],
 [datetime.datetime(2021, 5, 29, 0, 0),
  89547369,
  'ООО"Прокатмонтаж"',
  4365521.5]]

In [ ]:
total = 0
for i in range(0, len(invoices_new)):
    total = total + invoices_new[i][3]

total

57220431890.74999

In [ ]:
for i in range(0, len(invoices)):
    for j in range(0, 4):
        sheet_obj.cell(row=i + 2, column=j + 1).value = None

for i in range(0, len(invoices_new)):
    for j in range(0, 4):
        sheet_obj.cell(row=i + 2, column=j + 1).value = invoices_new[i][j]

In [ ]:
sheet_obj.cell(row=len(invoices), column= 3).value = "Итого"
sheet_obj.cell(row=len(invoices), column= 4).value = total

In [ ]:
wb_obj.save("file.xlsx")